* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-grey;
}

.btn {
  @apply text-white uppercase text-22 py-3 px-6 rounded-[5px] shadow-xl hover:bg-opacity-70 transition-all;

  &-success {
    @apply bg-green;
  }
  &-error {
    @apply bg-error;
  }
}

.icon {
  @apply w-[50px] h-[50px];
}

// vue transition
.slide-left-enter-active, .slide-left-leave-active {
  transition: all 0.5s;
  transform: translateX(0);
}
.slide-left-enter-from, .slide-left-leave-to {
  transform: translateX(100%);
}